html,body{
    height: 100%;
}
.section{
    width: 100%;
    height: 100%;
    position: relative;
}
.header{
    height: 100px;
    background: #428bca;;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;

}
.header span{
    display: block;
    width: 135px;
    height: 27px;
    background: url("../images/logo.png") no-repeat left top;
    float: left;
    margin:35px 0 0 50px;
}
.header h1{
    color:#fff;
    margin: 35px 100px;
    float: left;
}
.header p{
    float: right;
    color: #fff;
    margin-top: 60px;
    margin-right: 10px;
}
.header .userIcon{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 40px;
    margin-right: 35px;
}
.header .userIcon img{
    width: 50px;
    height: 50px;

}
.header button{
    width: 80px;
    height: 25px;
    border-radius: 0 0 10px 10px;
    line-height: 25px;
   position: absolute;
    right: 35px;
    top: 0;
}
.center{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 70px;
    background: blueviolet;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;

}
.center .aside{
    height: 100%;
    margin:0;
    padding: 0;
    background: #eaeaea;
    border-right: 1px solid dimgray;
}
.center .aside p{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.center .content{
    height: 100%;
    margin:0;
    padding: 0;
    background: #eaeaea;

}
.center .content iframe{
    width: 100%;
    height: 100%;
}
.footer{
    height: 70px;
    background: #428bca;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}

/*-----左侧二级菜单-------*/
/*左侧菜单*/
.sidebar-menu{
    width: 100%;
    border-right: 1px solid #c4c8cb;
}
/*一级菜单*/
.menu-first{
    display: block;
    width:100%;
    height:45px;
    line-height:45px;
    background-color: #c3bdbd;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e1e1e1;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #000;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover{
    text-decoration: none;
    background-color: #969393;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #acacac;
}
/*二级菜单*/
.menu-second li a{
    background-color: #f6f6f6;
    height:35px;
    line-height:35px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    text-align:center;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
    text-decoration: none;
    background-color: #66c3ec;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
}
/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #66c3ec;
    height:31px;
    line-height:31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-align:center;
}
/*覆盖bootstrap的样式*/
.nav-list,.nav-list li a{
    padding: 0px;
    margin: 0px;
}