.loginbox{
    width: 370px;
    height: 250px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.loginbox label{
    margin: 10px 0;
}
.loginbox .item{
    margin: 10px 0;
}